* {
    box-sizing: border-box;
  }
  
  /*set background color, style and text font size and color to page header title*/
  #headernameXAW {
        background-color: rgba(206, 121, 149, 0.801);
        color: white;
        padding: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight:bold;
        background-image:rgba(204, 136, 159, 0.801);
  }

  /*insert and align bakground image*/
 .bgimg{
    background-image: url('https://i.pinimg.com/originals/80/ca/f6/80caf694d069bb4f20b486f7d57e3ecd.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin: 0px;
 }

 /*set bakcground color size position and style to main content box*/
 .wrapper {
    background-color: white;
    width: 740px;
    padding: 40px;
    margin:50px 500px 120px 80px;
  }

  /*set color, font, size, and style to "About Me" title*/
  h1 {
      color: palevioletred;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 40px;
      font-weight: bold;
  }

  /*image align to the left and set margin and size*/
  .AboutImg {
      float: left;
      margin: 20px;
      height: 200px;
      width: 275px;
  }

  /*wrapping text around image and set size */
  p {
        text-align: left;
        font-size: 20px;
        color: gray
  }

  .footer .navbar .navbar-text {
    align-content: center;
  }

  #ContactButton {
    background-color: pink;
    border-radius: 1px;
    font-size: 15px;
    padding: 15px 30px;
  }

